<?xml version='1.0' encoding='utf-8'?>
<plugin id="id.co.xinix.cordova.plugins.FileBufferedReader" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>FileBufferedReader</name><description>cordova plugin file buffered reader</description><js-module name="FileBufferedReader" src="www/FileBufferedReader.js"><clobbers target="cordova.plugins.FileBufferedReader" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="FileBufferedReader"><param name="android-package" value="id.co.xinix.cordova.plugins.FileBufferedReader.FileBufferedReader" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/FileBufferedReader.java" target-dir="src/id/co/xinix/cordova/plugins/FileBufferedReader/FileBufferedReader" /></platform></plugin>